<!DOCTYPE HTML>

<html>
	<head>
		<title>JoinClubKAIST</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<noscript>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"/>
		</noscript>
		<link rel=" shortcut icon" href="../static/images/logo_fav.png">
		<link rel="icon" href="../static/images/logo_fav.png">
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
							<div >
								<a href="/" class="logo">
									<span class="symbol">
										<!--img src="images/logo.svg" alt="" /-->
										<img src="{{url_for('static', filename='images/logo_.jpg')}}"/>

									</span><span class="title">Join Club KAIST</span>
								</a>
								<!--span class="logo"><a href="#" class="button">Login</a></span>
								<span class="logo"><a href="#" class="button">Sign Up</a></span-->
							</div>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					{% if (key==1) %}
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/redirect_bookmark"> Bookmark </a></li>
						<li><a href="/redirect_event">Event</a></li>
						<li><a href="/redirect_logout"> Logout </a></li>
					</ul>
					{% else %}
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/redirect_login">Login</a></li>
						<li><a href="/redirect_signup">Sign up</a></li>
					</ul>
					{% endif %}
					<br>
					<ul>
						<li><a href="/aboutus">About Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Your Bookmark.</h1>
								<p>These clubs are bookmarked.</p>
							</header>

							<script>
							var length = '{{club_length}}'.toString();
							var club_name = '{{club_name}}';
							var test = club_name.indexOf("]");
							var club_name2 = club_name.substring(1, test);
							var club_name3 = club_name2.split(",");
							var print = club_name3[0].toString();

							var club_name4 = 1;
							var test_real = 0;
							for (var i = 0; i<length; i++){
								club_name3[i] = club_name3[i].toString();
								if (i == 0){
								club_name3[i] = club_name3[i].substring(5, club_name3[i].length-5);
								}else{
								club_name3[i] = club_name3[i].substring(6, club_name3[i].length-5);
								}
							}

							var club_idx = '{{club_idx}}'.split(",");


							</script>

							<div id = "myHTMLWrapper" class="inner" />
								<script>

								var img = [
									'<img src="{{url_for("static", filename = "images/logo/1.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/2.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/3.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/4.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/5.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/6.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/7.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/8.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/9.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/10.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/11.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/12.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/13.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/14.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/15.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/16.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/17.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/18.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/19.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/20.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/21.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/22.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/23.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/24.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/25.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/26.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/27.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/28.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/29.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/30.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/31.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/32.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/33.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/34.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/35.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/36.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/37.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/38.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/39.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/40.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/41.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/42.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/43.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/44.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/45.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/46.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/47.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/48.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/49.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/50.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/51.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/52.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/53.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/54.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/55.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/56.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/57.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/58.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/59.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/60.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/61.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/62.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/63.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/64.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/65.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/66.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/67.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/68.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/69.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/70.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/71.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/72.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/73.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/74.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/75.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/76.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/77.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/78.jpg")}}"/>',
									'<img src="{{url_for("static", filename = "images/logo/79.jpg")}}"/>',

								];
									var wrapper = document.getElementById("myHTMLWrapper");
									var myHTML = '<section class="tiles">';
									for (var i = 0; i < length ; i++) {

										myHTML += '<article>'
																				+ '<span class="image">'
																				+ img[club_idx[i]-1]
																				+ '</span>'
																				+ '<a>'
																				+ '<form method="post" action="club_info">'
																				+ '<input type = "hidden" name = "club_num" value = '+club_idx[i]+'>'
																				+ '<h2><input type="submit" name="club_name" value="'+club_name3[i]+'" class="primary"/></h2>'
																				+ '</form>'
																				+ '<div class="content">'
																				+ '<p>'+club_name3[i]+'</p>'
																				+ '</div></a></article>';
									}

									myHTML += '</section>';

									wrapper.innerHTML = myHTML;

								</script>
								<br/><br/><br/><br/>
								<script>

								var length = '{{length}}'.toString();
								var club_name = '{{e_club_name}}';
								var event_name = '{{event_name}}';
								var event_date = '{{date}}';
								var event_time = '{{time}}';
								var event_location = '{{location}}';

								var cn1 = e_club_name.indexOf("]");
								var en1 = event_name.indexOf("]");
								var ed1 = event_date.indexOf("]");
								var et1 = event_time.indexOf("]");
								var el1 = event_location.indexOf("]");=


								var cn2 = e_club_name.substring(1, cn1);
								var en2 = event_name.substring(1, en1);
								var ed2 = event_date.substring(1, ed1);
								var et2 = event_time.substring(1, et1);
								var el2 = event_location.substring(1, el1);


								var cn3 = cn2.split(",");
								var en3 = en2.split(",");
								var ed3 = ed2.split(",");
								var et3 = et2.split(",");
								var el3 = el2.split(",");


								for (var i = 0; i<length; i++){
									cn3[i] = cn3[i].toString();
									en3[i] = en3[i].toString();
									ed3[i] = ed3[i].toString();
									et3[i] = et3[i].toString();
									el3[i] = el3[i].toString();


								if (i == 0){
									cn3[i] = cn3[i].substring(5, cn3[i].length-5);
									en3[i] = en3[i].substring(5, en3[i].length-5);
									ed3[i] = ed3[i].substring(5, ed3[i].length-5);
									et3[i] = et3[i].substring(5, et3[i].length-5);
									el3[i] = el3[i].substring(5, el3[i].length-5);
									} else {
									cn3[i] = cn3[i].substring(6, cn3[i].length-5);
									en3[i] = en3[i].substring(6, en3[i].length-5);
									ed3[i] = ed3[i].substring(6, ed3[i].length-5);
									et3[i] = et3[i].substring(6, et3[i].length-5);
									el3[i] = el3[i].substring(6, el3[i].length-5);
									}
								}
								</script>
								<div id = "myHTMLWrapper1" class="inner" />
								<script>

									var wrapper = document.getElementById("myHTMLWrapper1");
									var myHTML1 = '<p style = "display:none"></p>';


									for (var i = 0 ; i < length ; i++) {
											myHTML1 += '<div><h3>'+'<a href = #'+i+' name='+i+'></a>'+ec3[i]+' - '+en3[i]+'</h3>'
											+'</div>'
											+'<div class="table-wrapper">'
											+'<table class="alt">'
												+'<tbody>'
													+'<tr>'
														+'<td width="20%">Date</td>'
														+'<td>'+ed3[i]+'</td>'
													+'</tr>'
													+'<tr>'
														+'<td>Time</td>'
														+'<td>'+et3[i]+'</td>'
													+'</tr>'
													+'<tr>'
														+'<td>Location</td>'
														+'<td>'+el3[i]+'</td>'
													+'</tr>'
												+'</tbody>'
											+ '</table>'
											+ '</div>';

									}

									wrapper.innerHTML = myHTML1;


								</script>

							</div>
						</div>
			</div>

			<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>
